html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", "Helvatica", "Myriad Pro";
    color: #646464;
    background-color: white;
    line-height: 1.5;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    border: 0;
    outline: 0;
}

h3 {
    padding-left: 5px;
}

.MaviAlanMenusu a:link,
.MaviAlanMenusu a:hover,
.MaviAlanMenusu a:visited,
.MaviAlanMenusu a:active {
    font-family: "Open Sans", "Arial", "Helvatica", "Myriad Pro";
    color: white;
    line-height: 1.5;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.AnaMenu a:link,
.AnaMenu a:hover,
.AnaMenu a:visited,
.AnaMenu a:active {
    font-family: "Open Sans", "Arial", "Helvatica", "Myriad Pro";
    color: #646464;
    line-height: 1.5;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.BankaKartlari tr td img {
    margin-right: 5px;
}

.SiteHaritası a:link,
a:hover,
a:visited,
a:active {
    font-family: "Open Sans", "Arial", "Helvatica", "Myriad Pro";
    color: #646464;
    line-height: 1.5;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.UyelikFormu a:link,
a:hover,
a:visited,
a:active {
    font-family: "Open Sans", "Arial", "Helvatica", "Myriad Pro";
    color: #646464;
    line-height: 1.5;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.SifremiUnuttum a:link,
a:hover,
a:visited,
a:active {
    font-family: "Open Sans", "Arial", "Helvatica", "Myriad Pro";
    color: #646464;
    line-height: 1.5;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.InputAlanlari {
    width: 95%;
    height: 30px;
    padding: 0 10px;
}

.SelectAlanlari {
    width: 100%;
    height: 35px;
    padding: 0 10px;
}

.TextareaAlanlari {
    width: 99%;
    height: 100px;
    padding: 10 10px;
}

.YorumIcınTextareaAlanlari {
    width: 99%;
    height: 200px;
    padding: 10 10px;
}

.YesilButon {
    border: 1px solid #00FF00;
    background: #009900;
    color: white;
    width: 100%;
    padding: 10px 5px;
}

.YesilButon:hover {
    border: 1px solid #009900;
    background: #00BB00;
    color: white;
    width: 100%;
    padding: 10px 5px;
    cursor: pointer;
}

.KargoTakipButonu {
    height: 30px;
    border: 1px solid #FF6600;
    background: #FF9900;
    color: white;
    padding: 0px 30px;
}

.KargoTakipButonu:hover {
    height: 30px;
    border: 1px solid #FF9900;
    background: #FF6600;
    color: white;
    padding: 0px 30px;
    cursor: pointer;
}

.KargoTakipInputu {
    height: 30px;
    padding: 0 30px;
    text-align: center;
    width: 70%;
}

.SorununBaslikAlani {
    width: 99%;
    font-weight: normal;
    height: 30px;
    border-bottom: 1px dashed #CCCCCC;
    padding: 0px 3px;
    margin-top: 3px;
    overflow: hidden;
    cursor: pointer;
}

.SorununBaslikAlani:hover {
    background-color: #f9f9f9;
}

.SorununCevapAlani {
    width: 100%;
    height: auto;
    padding: 2px 3px;
}

.UyelikBilgilerimMenu {
    border: 1px solid #ccc;
    width: 203px;
    text-align: center;
    padding: 10px 0;
}

.UyelikBilgilerimMenu a {
    color: black;
    text-decoration: none;
}

.UyelikBilgilerimMenu a:hover,
a:active,
a:visited {
    text-decoration: none;
    font-weight: normal;
}

.SayfalamaAlaniKapsayicisi {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
}

.SayfalamaAlaniIcinMetinAlaniKapsayicisi {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
}

.SayfalamaAlanıIcinNumaraAlaniKapsayicisi {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
}

.SayfalamaAktif {
    display: inline-block;
    width: auto;
    height: 20px;
    margin: 0px 0.5px;
    padding: 5px 7.5px;
    background-color: #F6f6f6;
    border: 1px solid #dadada;
    outline: 0;
    color: #ff0000;
    font-weight: normal;
    text-decoration: none;
}

.SayfalamaAktif a:link,
a:hover,
a:active,
a:visited {
    color: #ff0000;
    font-weight: normal;
    text-decoration: none;
}

.SayfalamaPasif {
    display: inline-block;
    width: auto;
    height: 20px;
    margin: 0px 0.5px;
    padding: 5px 7.5px;
    background-color: #F6f6f6;
    border: 1px solid #dadada;
    outline: 0;
    color: #646464;
    font-weight: normal;
    text-decoration: none;
}

.SayfalamaPasif a:link,
a:hover,
a:active,
a:visited {
    color: #646464;
    font-weight: normal;
    text-decoration: none;
}

.AyakkabiMenuleri {
    text-decoration: none;
    font-weight: normal;
}

.AramaAlani {
    display: block;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    outline: 0;
    vertical-align: top;
}

.AramaAlaniButonKapsamaAlani {
    display: inline-block;
    float: right;
    width: 60px;
    height: 35px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    outline: 0;
    text-align: left;
}

.AramaAlaniInputKapsamaAlani {
    display: inline-block;
    float: right;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: -o-calc(100% - 60px);
    width: -ms-calc(100% - 60px);
    width: calc(100% - 60px);
    height: 35px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    outline: 0;
    text-align: left;
}

.AramaAlaniButonu {
    display: block;
    width: 60px;
    height: 35px;
    margin: 0;
    padding: 0;
    border: 1px solid #646464;
    outline: 0;
    background: url(../Resimler/AraButonuIciBuyuteci.png);
    background-repeat: no-repeat;
    background-position: center left 19px;
}

.AramaAlaniButonu:hover {
    cursor: pointer;
}

.AramaAlaniInputu {
    display: block;
    float: left;
    width: -webkit-calc(100% - 42px);
    width: -moz-calc(100% - 42px);
    width: -o-calc(100% - 42px);
    width: -ms-calc(100% - 42px);
    width: calc(100% - 42px);
    height: 33px;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 10px;
    background: url(../Resimler/AramaTextInputuIciSoruIsareti.png);
    background-repeat: no-repeat;
    background-position: center left 10px;
    border: 1px solid #646464;
    outline: 0;
    text-align: left;
}

.SepeteEkleButonu {
    width: 100%;
    height: 35px;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    background: #0088cc;
    color: white;
    border: 1px solid #034a6e;
    outline: none;
    text-align: center;
    font-weight: bold;
}

.SepeteEkleButonu:hover {
    background: #034a6e;
    border: 1px solid #0088cc;
    cursor: pointer;
}